<div class="row">
  <div class="span4">
  	<p>
		Welcome to RetFlix! See our collection of movies below. 
	</p>
  </div>
  <div class="span4">
  	<a href="<%= new_movie_path %>" class="btn">Add a movie</a> 
  </div>
  <div class="span4">
  	<%= form_tag "/", :method => :get do %>
		<%= text_field_tag :q, params[:q], :class => "search-query" %> <%= submit_tag "Find Movies", :class =>"btn" %>
	<% end %>
  </div>
</div>

<ul class="thumbnails">
<% @movies.each do |movie| %>

  <li class="span3">
    <div class="thumbnail" style="height:450px; padding:30px">
    	<img src="<%= movie.poster %>">
      <h4><a href="<%= movie_path(movie) %>"><%= movie.title %> (<%= movie.year_released %>)</a></h4>
		<%= movie.description %>

    </div>
  </li>
<% end %>
</ul>